<% content_for :body_content_title do -%>
  <%= "#{@event_category.name} Category" %>
<% end -%>

<% content_for :body_content_left do %>
  <div id="events">
		<%= render partial: '/refinery/calendar/events/event', collection: @event_category.events, locals: { category: true } %>
	</div><!-- #events -->
<% end %>

<%= render '/refinery/calendar/events/sidebar' %>

<%= render '/refinery/content_page' %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>
